# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Conda/env
.env
.venv
env/
venv/

# Logs
*.log
*.tmp

# Large pipeline outputs
results/
results_from_existing_prokka/
*/01_genomes/
*/02_annotations/
*/03_prokka/
*/04_safety/
*/05_dbcan/
*/09_scores/
*/10_ml/
*/11_figures/
*/12_ml_functional_only/
*/13_sensitivity/
*/14_baselines/
*/15_release/
*/16_html_report/

# Large genomic files
*.fna
*.fa
*.fasta
*.faa
*.ffn
*.gbk
*.gff
*.gz
*.zip
*.tar
*.tar.gz

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
